{% extends 'layout/layoutmain.html'%}
{% block title%}About{% endblock %}
{% block content1 %}
    <div class="content">

<h1><b>Our Team.</b></h1>
<table>
    {% for person in ordered_content %}
        {% if person.name.1 == 0 %}
            <tr>
        {% endif %}
        <td><img src="/home/db4mdp/static/{{person.image_name}}"><br/>
        <h3>{{person.name.0}}</h3><br/>
        {{person.designation}}<br/>
        {{person.employee_of}}<br/>
        {{person.email}}
        </td>
        {% if person.name.1 == batch_size %}
            </tr>
        {% endif %}
    {% endfor %}
</table>

        <!--<table>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td><img src="/home/db4mdp/static/micheal.png" width="30%; height="100%" ><h3>Dr. Micheal Aupetit
          <br>Scientist
          <br> Social Computing
          <br>maupetit@qf.org.qa</h3></td>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td style="border: 2px solid black"><img src="/home/db4mdp/static/luis.png" width="30%; height="100%" ><h3>Luis Gustavo Nonato
          <br>New York University
          <br>Visiting Professor
          <br>maupetit@qf.org.qa</h3></td>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
      </tr>
        <tr>
        <td>&nbsp</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
        <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td style="border: 2px solid black; text-align: left;"><img src="/home/db4mdp/static/blank.png"  width="30%; height="100%" ><h3>Ali Sajjad
          <br>Bachelor of Sceince
          <br> Business Information Systems '2018
          <br>ali.sajjad.hussain@hotmail.co.uk</h3></td>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
       <td style="border: 2px solid black; text-align: left;"><img src="/home/db4mdp/static/blank.png"  width="30%; height="100%" ><h3>Mosammat Samiha Sadeka
          <br>Bachelor of Sceince
          <br> Information Systems '2019
          <br>msadeka@qatar.cmu.edu</h3></td>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
      </tr>
        <tr>
        <td>&nbsp</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </table>
    </div>-->

        <script>
            window.onscroll = function () { myFunction() };

            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;

            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        </script>

        {% endblock %}
