{% extends 'layout/layoutmain.html'%}
 {% load static %}

{% block title%}MDP Basic{% endblock %}
{% block content1 %}
<style>
    td, th {
        width: 200px;
    }

    td {
        font-size: 22px;
    }
</style>

<h1 text-align="center">Projection Techniques</h1>
<table>
    {% for method in ordered_content %}
    {% if method.mdp_name.1 == 0 %}
    <tr>
        {% endif %}
        <td color="white"><a href="/mdp-basic/{{forloop.counter}}/#Results" , id='btn{{forloop.counter}}'>{{method.mdp_name.0}}</a></td>
        {% if method.mdp_name.1 == batch_size %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}

{% block content2 %}
{% if index != '0' %}
<table>
    <th>Results</th>
    <th align="center" width="200px" color="white"><a href="export">Export as CSV</a></th>
</table>

<h2> Name </h2>
    {% for mdp in data %}
<h4> Short Name: {{ mdp.mdp_name }} </h4>
<h4> Full Name: {{ mdp.mdp_fullname }} </h4>

<h2> Reference(s): <!--<span onclick="displayDiv('references')"><i class="fas fa-chevron-down"></i></span>--></h2>
<div class="drop-down-content" , id="references">
    <ul>
        {% for citation in references %}
        <li>  {{ citation }} </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}


<h2> Variants <!--<i class="fas fa-chevron-down" , onclick="displayDiv('references')"></i>--></h2>
<div class="drop-down-content" , id="variants">
    {%  if data2.count > 0 %}
    <ul>
        {% for var in data2 %}
        <li> Variant Name(s): {{ var.variants }} <br /> Reference(s): </li>
        {% for key, value in referencesdict.items %}
        {% if key in var.variant_reference %}
        <li>  {{value}} </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% else %}
        <h4>Not Available</h4>
        {% endif %}
</div>

<h2>  Characteristics <!--<i class="fas fa-chevron-down" , onclick="displayDiv('references')"></i>--></h2>
<div class="drop-down-content" , id="characteristics">
    {% for mdp in data %}
    <p>Data Type: </p>
    <ul>
        {% if mdp.dissimilarity != "Not Capable"  %}
        <li>Dissimilarity: {{mdp.dissimilarity}}</li>
        {% endif %}

        {% if mdp.ordinal != "Not Capable" %}
        <li>Ordinal: {{mdp.ordinal}}</li>
        {% endif %}

        {% if mdp.cartesian != "Not Capable"   %}
        <li>Cartesian: {{mdp.cartesian}}</li>
        {% endif %}

        {% if mdp.ne_structures != "Not Capable" %}
        <li>Ne structures: {{mdp.ne_structures}}</li>
        {% endif %}

        {% if mdp.categorical != "Not Capable" %}
        <li>Categorical: {{mdp.categorical}}</li>
        {% endif %}
    </ul>
</div>

<h2> Property:<!--<i class="fas fa-chevron-down" , onclick="displayDiv('references')"></i>--></h2>
<div class="drop-down-content" , id="properties">
    <ul>
        {% if mdp.linearity != "Not Capable"  %}
        <li>Linearity: {{mdp.linearity}}</li>
        {% endif %}

        {% if mdp.supervision != "Not Capable" %}
        <li>Supervision: {{mdp.supervision}}</li>
        {% endif %}

        {% if mdp.multi_level != "Not Capable"  %}
        <li>Multi-Level: {{mdp.multi_level}}</li>
        {% endif %}

        {% if mdp.locality != "Not Capable"  %}
        <li>Locality: {{mdp.locality}}</li>
        {% endif %}

        {% if mdp.steerability != "Not Capable" %}
        <li>Steerability: {{mdp.steerability}}</li>
        {% endif %}

        {% if mdp.stability != "Not Capable"%}
        <li>Stability: {{mdp.stability}}</li>
        {% endif %}

        {% if mdp.out_of_core_data != "Not Capable"%}
        <li>Out of core data: {{mdp.out_of_core_data}}</li>
        {% endif %}
    </ul>
</div>

<h2>Complexity: <!--<i class="fas fa-chevron-down" , onclick="displayDiv('references')"></i>--></h2>
<div class="drop-down-content" , id="complexity">
    <ul>
        <li>{{ mdp.complexity }}</li>
    </ul>
    {% endfor %}
</div>

<h2>Languages <!--<i class="fas fa-chevron-down" , onclick="displayDiv('references')"></i>--></h2>
<div class="drop-down-content" , id="languages">
    <ul>
        {%  if data3.count > 0 %}
        {% for lang in data3 %}
        {% if lang.cplusplus == "Yes"%}
        <li>C++</li>
        {% endif %}

        {% if lang.python == "Yes"%}
        <li>Python</li>
        {% endif %}

        {% if lang.matlab == "Yes"%}
        <li>Matlab</li>
        {% endif %}


        {% if lang.javascript == "Yes"%}
        <li>Javascript</li>
        {% endif %}
    </ul>
    <br />
    Reference(s):
    <ul>
        {% for key, value in referencesdict.items %}
        {% if key in lang.r %}
        <li>  {{value}} </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
    {% else %}
    <h4>Not Available</h4>
    {% endif %}
</div>

<h2>Tasks <!--<favicon onclick="displayDiv('references')"><i class="fas fa-chevron-down" , onclick="displayDiv('references')"></i></favicon>--></h2>
<div class="drop-down-content" , id="tasks">
    {%  if data4.count > 0 %}
    <ul>
        {% for task in data4 %}
        <li><a href="/tasks-basic/{{task.task_id}}/#Results"> {{ task.task_name }} </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h4>Not Available</h4>
    {% endif %}
</div>
<!--script>
    var url = window.location.href;
    var number = url.slice(32, -1);
    var string = "mdp-basic/" + number + "/";
    var string2 = "btn" + number

    function mine2() {
        return "/mdp-basic/" + number + "/export/";
    }

    //if ((window.location.href.indexOf(string) != -1) && (number != "0")) {
    //    var element = document.getElementById(string2);
    //    element.style.backgroundColor = '#f44336';
    //}


    if (window.location.href.indexOf("mdp-basic/0/") != -1) {
        var x = document.getElementById("Results");
        x.style.display = "none";
    }


    window.onscroll = function () { myFunction() };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>-->
{% endif %}

    {% endblock %}
