{% extends 'layout/layoutmain.html'%}
 {% load static %}
{% block title%}Quality Basic{% endblock %}
{% block content1 %}
    <style>
        .band-d {
            display: none;
        }

        td, th {
            width: 25%;
        }

        td {
            font-size: 22px;
        }
    </style>

<table>
    <tr>
        <th><a href="/quality-basic/0/" class="button">Basic&nbsp&nbsp&nbsp</a></th>
        <th><a href="/qualityadvanced/home" >Advanced</a></th>
    </tr>
</table>

  <p style="border-bottom: 9px solid black;"></p>

  <table>
      {% for qmeasure in ordered_content %}
      {% if qmeasure.measure_name.1 == 0 %}
      <tr>
          {% endif %}
          <td><a href="/quality-basic/{{qmeasure.measure_id}}/#Results"><input type="button" , class="button" , id='btn{{qmeasure.measure_id}}'>{{qmeasure.measure_name.0}}</a></td>
          {% if qmeasure.measure_name.1 == batch_size %}
      </tr>
      {% endif %}
      {% endfor %}
  </table>
{% endblock %}

{% block content2 %}

<div id="Results">
    <table>
        <tr>
            <th><h4>Results</h4></th>
            <th><button class="Exportascsv" onclick='location.href=mine2();'><h4>Export as CSV</h4></button></th>
        </tr>
    </table>
    <h2>
        Span<h2>
            {% for quality in data %}
            {% if quality.local == "Yes" %}
            <h4> Local </h4>
            {% endif %}

            {% if quality.globall == "Yes" %}
            <h4> Global </h4>
            {% endif %}

            {% endfor %}


            <h2>
                Distortion Type<h2>

                    {% for quality in data %}
                    {% if quality.dissimilarity == "Yes" %}
                    <h4> Dissimilarity </h4>
                    {% endif %}

                    {% if quality.correlation == "Yes" %}
                    <h4> Correlation </h4>
                    {% endif %}

                    {% if quality.probability == "Yes" %}
                    <h4> Probability </h4>
                    {% endif %}

                    {% if quality.rank == "Yes" %}
                    <h4> Rank </h4>
                    {% endif %}

                    {% if quality.geometric == "Yes" %}
                    <h4> Geometric </h4>
                    {% endif %}

                    {% if quality.set_difference == "Yes" %}
                    <h4> Set Difference </h4>
                    {% endif %}

                    {% if quality.homology == "Yes" %}
                    <h4> Homology </h4>
                    {% endif %}

                    {% endfor %}

                    {% for quality in data %}
                    <h4> Output Range: </h4> {{quality.rangee}} </img>
                    {% endfor %}

                    {% for quality in data %}
                    <h4> Output Best: {{ quality.best}}</h4>
                    {% endfor %}

                    <h2>
                        Reference(s):<h2>
                            {% for reference in references %}
                            <h4>  {{reference}} </h4>
                            {% endfor %}
</div>
</div>
<script>



var url = window.location.href;
var number= url.slice(36,-1);
var string = "quality-basic/" + number + "/";
var string2="btn" + number;

function mine2() {
return "/quality-basic/" + number + "/export/";
}

//if ((window.location.href.indexOf(string) != -1) &&(number!="0")) {
//     var element = document.getElementById(string2);
//     element.style.backgroundColor = '#f44336';
//}


if (window.location.href.indexOf("quality-basic/0/") != -1) {
var x = document.getElementById("Results");
x.style.display = "none";
}


window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}







</script>
{% endblock %}