{% extends 'layout/layout.html'%}
 {% load static %}
{% block title%}Tasks Basic{% endblock %}
{% block content %}
    <div class="content">
<br>
<br>
<div class="basicadvance" style="margin: 6px">
  <a href="/tasks-basic/0/" class="button">Basic&nbsp&nbsp</a>
  <a href="/taskadvanced/home" >Advanced</a>
  </div>
  <br>
  <br>
  <p style="border-bottom: 9px solid black;"></p>

<br>
<br>
<table style="max-width: 100%; width: 100%; color: #000000;" frame="box"  >
    <tr align="center"> 
        <td style="border-bottom: 1px solid black; font-size: 30px;"><b>General Layout</b></td>
        <td style="border-bottom: 1px solid black; font-size: 30px;"><b>Axes </b></td>
        <td style="border-bottom: 1px solid black; font-size: 30px;"><b>Items Base Layout </b></td>
        <td style="border-bottom: 1px solid black; font-size: 30px;"><b>Items in Enriched Layout</b></td>
    </tr>
    <tr align="center"> 
    <td><button class="butt2" id="btn68" onclick=window.location.href='/tasks-basic/68/'>Dimension Synthesis</button></td>
        <td><button class="butt2" id="btn74" onclick=window.location.href='/tasks-basic/74/'>Name Synthesized Dimension </button></td>
        <td><button class="butt2" id="btn78" onclick=window.location.href='/tasks-basic/78/'>Discover a Seed Point</button></td>
        <td><button class="butt2" id="btn86" onclick=window.location.href='/tasks-basic/86/'>Name Cluster</button></td>
    </tr>
    <tr align="center"> 
        <td><button class="butt2" id="btn69" onclick=window.location.href='/tasks-basic/69/'>Out-of-Core Extension</button></td>
        <td><button class="butt2" id="btn75" onclick=window.location.href='/tasks-basic/75/'>Map Synthesized Dimension to Original Dimension</button></td>
        <td><button class="butt2" id="btn79" onclick=window.location.href='/tasks-basic/79/'>Discover Neighbors in Map</button></td>
        <td><button class="butt2" id="btn87" onclick=window.location.href='/tasks-basic/87/'>Discover Neighbors in Data Space</button></td>
    </tr>
    <tr align="center"> 
        <td><button class="butt2" id="btn70" onclick=window.location.href='/tasks-basic/70/'>Map Data with Intermediary Landmarks </button></td>
        <td><button class="butt2" id="btn76" onclick=window.location.href='/tasks-basic/76/'>Discover Relation Between Original Dimension</button></td>
        <td><button class="butt2" id="btn80" onclick=window.location.href='/tasks-basic/80/'>Brush in Map</button></td>
        <td><button class="butt2" id="btn88" onclick=window.location.href='/tasks-basic/88/'>Brush in Data Space</button></td>
    </tr >
    <tr align="center"> 
        <td><button class="butt2" id="btn71" onclick=window.location.href='/tasks-basic/71/'>Map Labeled Data</button></td>
        <td><button class="butt2" id="btn77" onclick=window.location.href='/tasks-basic/77/'>Discover Relation between Visual Pattern & Original Dimension </button></td>
        <td><button class="butt2" id="btn81" onclick=window.location.href='/tasks-basic/81/'>Navigate in Map </button></td>
        <td><button class="butt2" id="btn89" onclick=window.location.href='/tasks-basic/89/'>Navigate in Data Space </button></td>
    </tr> 
    <tr align="center"> 
        <td><button class="butt2" id="btn72" onclick=window.location.href='/tasks-basic/72/'>Map Items Relative to Target </button></td>
        <td></td>
        <td><button class="butt2" id="btn82" onclick=window.location.href='/tasks-basic/82/'>Discover a Path in Map</button></button></td>
        <td><button class="butt2" id="btn90" onclick=window.location.href='/tasks-basic/90/'>Discover a Path in Data Space </button></td>
    </tr>
    <tr align="center"> 
        <td><button class="butt2" id="btn73" onclick=window.location.href='/tasks-basic/73/'>Multi-Level Mapping</button></td>
        <td></td>
        <td><button class="butt2" id="btn83" onclick=window.location.href='/tasks-basic/83/'>Discover Clusters in Map</button></td>
        <td><button class="butt2" id="btn91" onclick=window.location.href='/tasks-basic/91/'>Discover Density-based Clusters in Data Space</button></td>
    </tr>
    <tr align="center"> 
        <td></td>
        <td></td>
        <td><button class="butt2" id="btn84" onclick=window.location.href='/tasks-basic/84/'>Discover Outlier in Map</button></td>
        <td><button class="butt2" id="btn92" onclick=window.location.href='/tasks-basic/92/'>Discover Density-based Outlier in Data Space</button></td>
        <td></td>
    </tr>
    <tr align="center"> 
        <td></td>
        <td></td>
        <td><button class="butt2" id="btn85" onclick=window.location.href='/tasks-basic/85/'>Discover Sensitivity-based Outlier in Data Space</button></td>
        <td><button class="butt2" id="btn93" onclick=window.location.href='/tasks-basic/93/'>Discover Neighbors of OOC Item in Data Space</button></td>
    </tr>
    <tr align="center"> 
        <td></td>
        <td></td>
        <td></td>
        <td><button class="butt2" id="btn94" onclick=window.location.href='/tasks-basic/94/'>Discover Class-Outlier in Data Space</button></td>
    </tr>
    <tr align="center"> 
        <td></td>
        <td></td>
        <td></td>
        <td><button class="butt2" id="btn95" onclick=window.location.href='/tasks-basic/95/'>Discover Class-Outlier in Map</button></td>
    </tr>
    <tr align="center"> 
        <td></td>
        <td></td>
        <td></td>
        <td><button class="butt2" id="btn96" onclick=window.location.href='/tasks-basic/96/'>Match Clusters and Classes in Map</button></td>
    </tr>
    <tr align="center"> 
        <td></td>
        <td></td>
        <td></td>
        <td><button class="butt2" id="btn97" onclick=window.location.href='/tasks-basic/97/'>Classify Out-of-Core Item in Map</button></td>
    </tr>
    <tr align="center"> 
        <td></td>
        <td></td>
        <td></td>
        <td><button class="butt2" id="btn98" onclick=window.location.href='/tasks-basic/98/'>Steer Projection</button></td>
    </tr>
    <tr align="center"> 
        <td></td>
        <td></td>
        <td></td>
        <td><button class="butt2" id="btn99" onclick=window.location.href='/tasks-basic/99/'>Sample Data Space from Map</button></td>
    </tr>
</table>
<div id="myDIV">
<br>
<br>
<table style="max-width: 100%; width: 100%; color: #000000;" frame="box" border="0" >
<td style="font-size: 30px"><b><u>Results</u></b></td>
<td align="right"><button class="Exportascsv" onclick='location.href=mine2();'><b>Export as CSV<b></button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
</table>


<h2>Name <h2>
  {% for task in data %}
  <h4> Full Name: {{ task.task_name }}  <br>


Reference(s): 
  {% for key, value in referencesdict.items %}
  {% if key in task.reference_list %}
  <h4>  {{value}} </h4>
  {% endif %}
  {% endfor %}

{% endfor %}

<br>

{% for task in data %}

<h4> Input Space:</h4> <img width="105" src='{% static "" %}{{task.input_space}}'></img>

{% endfor %}

<br>
{% for task in data %}
<h4> Output Space: </h4> <img width="85" src='{% static "" %}{{task.output_space}}'></img>
{% endfor %}



{% for task in data %}
{% if task.actor == "M"%}
  <h4>  Actor: Machine </h4>
  {% endif %}

{% if task.actor == "U"%}
  <h4>  Actor: User </h4>
  {% endif %}

  {% if task.actor == "U+M"%}
  <h4>  Actor:  User and Machine </h4>
  {% endif %}

    {% if task.actor == "M+U"%}
  <h4>  Actor:  Machine and User</h4>
  {% endif %}

{% endfor %}



{% for task in data %}
<h4> Task Property: {{ task.task_property }}  </h4>
{% endfor %}


{% for task in data %}
<h4> Best Matched MDP: {{ task.best_mdp_list }}  </h4>
{% endfor %}
    </div>
</div>
<script>

var url = window.location.href;
var number= url.slice(34,-1);
var string = "tasks-basic/" + number + "/";
var string2="btn" + number

function mine2() {
return "/tasks-basic/" + number + "/export/";
}

if ((window.location.href.indexOf(string) != -1) &&(number!="0")) {
     var element = document.getElementById(string2);
     element.style.backgroundColor = '#f44336';
}

if (window.location.href.indexOf("tasks-basic/0/") != -1) {
var x = document.getElementById("myDIV");
x.style.display = "none";
}

window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
{% endblock %}