@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


body {
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient( #1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424 );
    background-color: #131313;
    background-size: 20px 20px;
    font-family: 'Open Sans', sans-serif;
    transition: 0.3s;
    color: white;
}

#page_content {
    color: white;
}

    #page_content h1 {
        text-align: center;
        padding: 5px 0 0 0;
    }

div.flex_container{
    display: flex;
    justify-content: space-between;
}

div.custom_navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 0, 0;
    width: 100%;
}

/*.custom_navbar ul {
    padding: 0px;
    width: 100%;
}

    .custom_navbar ul li {
        margin: 0px;
        list-style: none;
        padding: 0px;
    }

        .custom_navbar ul li ul li {
            float: none;
            display: none;
            opacity: 0.8;
        }

        .custom_navbar ul li .tablink:hover {
            background-color: #000;
        }

        .custom_navbar ul li:hover ul li {
            display: block;
        }

        .custom_navbar ul li button {
            float: left;
        }*/

.heading {
    padding: 5px 0 0 0;
    margin: 0;
    color: white;
    background-color: black;
    line-height: normal;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', 'Open Sans', sans-serif;
}

.site_logo {
    text-align: center;
}

.tabmain {
    background-color: #555;
    font-family: "Quicksand", sans-serif;
    color: white;
    /*float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    display: block;
}

.tabinner {
    padding: 0, 0;
    opacity: 0.7;
}


    /* Change background color of buttons on hover */
    .tabmain:hover {
        background-color: #000;
    }

.noclick{
    cursor: default;
}

table {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: none;
}

table a{
    text-decoration: none;
}

a {
    font-size: 25px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    display: block;
}

td, th {
    /*width: 50%;*/
    padding: 8px;
    color: white;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
}

    ul li {
        float: left;
        width: 16.6%;
        padding: 5px, 5px;
        background-color: #555;
        text-align: center;
        font-size: 20px;
    }

        ul li a {
            text-decoration: none;
            color: white;
            display: block;
        }

        ul li ul li {
            width: 100%;
            opacity: 0.7;
            display: none;
        }

        ul li:hover ul li {
            display: block;
        }

/*a{
    background-color: transparent;
    outline: none;
    border: none;
    color: aquamarine;
    text-decoration: none;
}

a:hover{
    background-color: #777;
    opacity: 0.7;
}*/

td {
    font-size: 22px;
}

th {
    padding: 0 0 25px 0;
    text-align: center;
    font-size: 32px;
}
